alembic
beautifulsoup4
bs4
certifi
chardet
click
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
lxml
Mako
MarkupSafe
python-dateutil
python-editor
requests
selenium
six
soupsieve
SQLAlchemy
urllib3
Werkzeug
